# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [15]:
data={"evolution":["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
      "hp":[45,39,44,45],
      "name":['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
      "Pokedex":['yes', 'no','yes', 'no'],
      "type":['grass','fire', 'water', 'bug']
      }

In [16]:
pd.DataFrame(data)

    evolution  hp        name Pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [17]:
p=pd.DataFrame(data)
p

    evolution  hp        name Pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [18]:
p.columns.to_list()

['evolution', 'hp', 'name', 'Pokedex', 'type']

In [20]:
p=p[['name','type', 'hp','evolution', 'Pokedex' ]]
p

         name   type  hp   evolution Pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [21]:
place=['home', 'city', 'forest','unknown']
# p['place']=pd.Series(place)
p['place']=place

In [22]:
p

         name   type  hp   evolution Pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes     home
1  Charmander   fire  39  Charmeleon      no     city
2    Squirtle  water  44   Wartortle     yes   forest
3    Caterpie    bug  45     Metapod      no  unknown

### Step 6. Present the type of each column

In [23]:
p.dtypes

name         object
type         object
hp            int64
evolution    object
Pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [26]:
# encode yes/no to 1/0

p.Pokedex.apply(lambda x:1 if x=='yes' else 0)

0    1
1    0
2    1
3    0
Name: Pokedex, dtype: int64

In [28]:
p.Pokedex= p.Pokedex.apply(lambda x:1 if x=='yes' else 0)

In [29]:
p

         name   type  hp   evolution  Pokedex    place
0   Bulbasaur  grass  45     Ivysaur        1     home
1  Charmander   fire  39  Charmeleon        0     city
2    Squirtle  water  44   Wartortle        1   forest
3    Caterpie    bug  45     Metapod        0  unknown

In [32]:
p.Pokedex.value_counts()

Pokedex
1    2
0    2
Name: count, dtype: int64